footer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    height: 13.06em;
}

footer img{
    filter: brightness(0) invert(1);
    width: 7.62em;
    margin-top: 4.125em;
}

footer p{
    margin: 1.785em 0 0;
    font-size: 1.5em;
    color: white;
}