header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.5em 5.208vw 0;    
}

header nav{
    display: flex;
    justify-content: space-between;
    width: 17em;
}

header a{
    color: #FF6060;
    text-decoration: none;
    font-size: 1.5em;
}

header .underline{
    animation: underline .3s forwards;
}

@keyframes underline {
    0% {text-decoration: underline .07em rgba(255, 96, 96, 0);}
    100% {text-decoration: underline .07em rgba(255, 96, 96, 1);}
}