.logement{
    position: relative;
    overflow: hidden;
    border-radius: 0.625em;
}

.logement a{
    display: block;
    height: 21.25em;
}

.logement img{
    height: 21.25em;
    width: 100%;
    object-fit: cover;
    border-radius: 0.625em;
    object-position: center;
    background-position: center;
    transition: scale .3s;
}

.logement p{
    position: absolute;
    bottom: 0;
    max-width: 80%;
    margin: 1.25em;
    font-size: 1.125em;
    color: white;
}

.logement:hover.logement img{
    scale: 110%;
}

@media screen and (max-width: 720px){

    .logement a, .logement img{
        height: 28.125em;
    }

    .logement p{
        font-size: 2.25em;
        margin: 0.625em;
    }

}